.about{
    padding: 5% 10%;
    display: flex;
    align-items: flex-start;
}

.about-me{
    width: 75%;
    position: sticky;
    top: 10%;
}

.about-para{
    width: 90% !important;
}

.about-skills{
    padding: 5% 0 0 7%;
    border-left: 0.2px solid rgba(136,158,168,.2);
    margin-left: 0%;
}

.skills{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    color: white;
}

.skill img{
    width: 40px;
}

.skill-title{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.soft-skill{
    color: white;
    font-size: 1rem;
    background-color: rgb(195, 0, 255);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 0;
}