.about{
    padding: 5% 10%;
    display: flex;
    align-items: flex-start;
}

.about-me{
    width: 100%;
    position: sticky;
    top: 10%;
}

.about-para{
    width: 90% !important;
    margin-bottom: 2rem;
}

.about-skills{
    padding: 5% 0 0 7%;
    border-left: 0.2px solid rgba(136,158,168,.2);
    margin-left: 0%;
}

.skills{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    color: white;
}

.skill img{
    width: 50px;
}

.skill-title{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.soft-skill{
    color: white;
    font-size: 1.2rem;
    text-transform: lowercase;
    border-radius: 50px;
    margin: 0;
    font-family: 'Orbit', sans-serif;
}



.cta {
    position: relative;
    color: white;
    margin: 0;
    padding: 19px 22px;
    transition: all .2s ease; }
    .cta:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: #ad8440;
      width: 56px;
      height: 56px;
      transition: all .3s ease; }
    .cta span {
      position: relative;
      font-size: 1.4rem;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: .1em;
      text-transform: uppercase;
      vertical-align: middle; }
    .cta svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: white;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease; }
    .cta:hover:before {
      width: 100%;
      background: #ad8440 }
    .cta:hover svg {
      transform: translateX(0); }
    .cta:active {
      transform: scale(0.96); }
