nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 99;
    padding: 0 0 0 10%;
}
.menu{
    display: flex;
    margin-right: 20%;
}

.menu > li{
    padding: 0 0.75rem;
    font-size: 1.3rem;
}

nav > h1 {
    display: flex;
}

.name-logo{ 
    font-family: monospace;
    font-size: 1.5em;
}

.blink{
    height: 1.8rem;
    width: 15px;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 3px solid white;
    display: block;
}

@keyframes blink {
    50% {
      border-color: transparent
    }
  }