nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 99;
    padding: 0 0 0 10%;
    border-bottom: 1px solid rgba(184, 184, 184, 0.384);
}
.menu{
    display: flex;
    margin-right: 20%;
}

.menu > li{
    padding: 0 0.75rem;
    font-size: 1.3rem;
}

.name-logo{
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}