.project-card{
    background-color: rgb(0, 0, 0);
    color: white;
    break-inside: avoid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.project-card img{
    transition: all 0.3s;
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-card:hover img{
    transform: scale(1.1);
}



.card-description{
    padding: 7% 4% 5% 4%;
}


.stacks{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.tech-stack{
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    color: white;
    border: 0;
    cursor: none;
}


.arrow{
    position: absolute;
    rotate: -45deg;
    font-size: 3rem;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: white;
}

.project-card:hover .arrow{
    top: 2%;
    left: 95.5%;
    opacity: 1;
    z-index: 55;
}

.overlay{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    opacity: 0;
}

.project-card:hover .overlay{
    opacity: 0.6;
}
