  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');


:root{
    --primary-color: #00abf0;
}

*{
    font-family: sans-serif;
}

body{
    margin: 0;
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar{
display: none;
}

ul > li{
    list-style: none;
    font-weight: bold;
} 

button{
    border: 2px solid white;
    padding: 0.7rem 3rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    background: rgb(255, 118, 118);
}

a{
    text-decoration: none;
    color: inherit;
}


.App {
	background-image: url('./assets/effect.png');
	animation: static 3s steps(5, end) infinite;
	opacity: 0.65;
    z-index: 999;
}

@keyframes static {
	0% {
		background-position: 0% 0%;
	}
	20% {
		background-position: 25% 15%;
	}
	40% {
		background-position: 50% 69%;
	}
	60% {
		background-position: 33% 25%;
	}
	80% {
		background-position: 72% 4%;
	}
	100% {
		background-position: 80% 91%;
	}
}

footer h2{
	text-align: center;
	color: white;
	margin: 0;
	padding: 2% 0;
	letter-spacing: 0.1rem;
}